@media (max-width: 768px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    &__box {
      padding-top: 238px;
      padding-bottom: 238px;
      width: 100%;
      text-align: center;
    }

    &__title {
      font-size: 32px;
      line-height: 39px;
    }

    &__text {
      margin-bottom: 32px;
      width: 100%;
      text-align: center;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .game-container {
    gap: 32px;
    align-items: center;
    justify-content: center;
  }

  .game {
    width: 343px;
  }

  .seasons-game {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 64px;
    text-align: center;
    padding-top: 51px;
    padding-bottom: 85px;

    &__title {
      font-size: 32px;
    }

    &__text {
      width: 100%;
      font-size: 14px;
      line-height: 22px;
    }

    &__img {
      justify-self: center;
      max-width: 314px;
    }
  }
}

@media (min-width: 769px) and (max-width: 1240px) {
  .center {
    padding-left: 120px;
    padding-right: 120px;
  }

  .game-container {
    gap: 32px;
    align-items: center;
    justify-content: center;
  }

  .seasons-game {
    flex-wrap: wrap;
    gap: 64px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    &__box {
      width: 100%;
    }
  }
}
